name: ffmpeg_win64_with_fdk_aac_shared

on:
#  push:
#    branches: 
#      - master
#  watch:
#    types: [started]
  workflow_dispatch:

jobs:
  job1:
    name: job1
    runs-on: ubuntu-20.04
    env: 
      VERSION: master
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Prepare environment
      run: |
        cd $HOME
        git clone https://github.com/rdp/ffmpeg-windows-build-helpers.git
        sudo apt update
        sudo apt install subversion ragel curl texinfo g++ bison flex cvs yasm automake libtool libtool-bin autoconf gcc cmake git make pkg-config zlib1g-dev unzip pax nasm gperf autogen bzip2 autoconf-archive p7zip-full meson clang gcc-mingw-w64-i686 g++-mingw-w64-i686 gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 python3-distutils python-is-python3 -y
    - name: Build
      run: |
        cd $HOME/ffmpeg-windows-build-helpers
        rm -rf sandbox
        bash ./cross_compile_ffmpeg.sh --ffmpeg-git-checkout-version=$VERSION --disable-nonfree=n --compiler-flavors=win64 --build-ffmpeg-static=n --build-ffmpeg-shared=y
    - name: Create compressed file
      run: |
        cd $HOME
        7za a ffmpeg_win64_with_fdk_aac_shared.7z $HOME/ffmpeg-windows-build-helpers/sandbox/win64/ffmpeg_git_with_fdk_aac_$VERSION'_shared'/bin/ $HOME/ffmpeg-windows-build-helpers/sandbox/win64/ffmpeg_git_with_fdk_aac_$VERSION'_shared'/ffmpeg_g.exe $HOME/ffmpeg-windows-build-helpers/sandbox/win64/ffmpeg_git_with_fdk_aac_$VERSION'_shared'/ffprobe_g.exe $HOME/ffmpeg-windows-build-helpers/sandbox/win64/ffmpeg_git_with_fdk_aac_$VERSION'_shared'/ffplay_g.exe -mx=9
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ffmpeg_win64_with_fdk_aac_shared
        path: ~/ffmpeg_win64_with_fdk_aac_shared.7z
